<%= month_calendar events: @schedule do |date, schedule| %>
  <%= date.day %>

  <% schedule.each do |schedule| %>
    <div>
      <%= link_to schedule.name, schedule_path(schedule.id)%>
    </div>
  <% end %>
<% end %>
<%= link_to "作成", new_schedule_path, class: 'create_btn'%>