<div class="cover">
  <div class="title">
    <h1>ProductiveDays</h1>
    <p>
    せっかくの休日なのに、１日中寝て過ごしてしまった…<br>
    試験の前日、もっと勉強しておけば良かった…<br>
    と後悔したことはありませんか？<br>
    <br>
    このアプリは充実した日々を過ごすのに<br>
    ぴったりの予定管理ツールです。<br>
    今日という日をProductiveな１日にしませんか？
    </p>
    <%=link_to "いますぐ無料で始める", new_user_registration_path, class: "sign-up"%>
  </div>
</div>