// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper{
  display: flex;
}

.main{
  width: calc(100% - 200px);
  padding: 40px;
}

.simple-calendar {
  .calendar-heading{
    text-align: center;
    font-size: 30px;
  }
  
  .prev{
    text-decoration: none;
    color: #68a9cf;
  }

  .next{
    text-decoration: none;
    color: #68a9cf;
  }

  .day_name{
    text-align: center;
  }

  .day {}
  
  .wday-0 {color: red;}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {color: blue;}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month {}
  .current-month {}

  .has-events {}
}

.create_btn{
  text-decoration: none;
  background-color: #68a9cf;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
}

h2{
  margin-left: 5px;
}

.side_bar{
  background-color: #68a9cf;
  width: 200px;
  height: 100vh;
}

.countdown{
  height: 30vh;
  margin: 5px;
}

.counts{
  margin-left: 5px;
}

.counts_color{
  color: gold;
  margin-left: 5px;
}

.todo{
  color: white;
  background-color: #baa896;
  height: 60vh;
}

.tasks{
  font-size:15px;
  margin-left: 5px;
}

.send{
  margin-left: 5px;
}

.account{
  height: 10vh;
  background-color: #e6ccb5;
}

.delete{
  color: #867666;
}

.logout{
  color: #867666;
}