// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper{
  display: flex;
}
.side_bar{
  width: 200px;
  height: 100vh;
}
.countdown{
  background-color: pink;
  height: 30vh;
}
.todo{
  background-color: rosybrown;
  height: 70vh;
}
.main{
  width: calc(100% - 200px);
  padding: 40px;
}

.simple-calendar {
  .calendar-heading{
    text-align: center;
    font-size: 30px;
  }

  .day_name{
    text-align: center;
  }

  .day {}
  
  .wday-0 {color: red;}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {color: blue;}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month {}
  .current-month {}

  .has-events {}
}

.create_btn{
  text-decoration: none;
}
