.schedule-form{
  font-size: 40px;
}

.error-messages{
  color: red;
}

.schedule-box{
  background-color: antiquewhite;
}
.create{
  padding: 5px;
}

.back_btn{
  padding-left: 6px;
  text-decoration: none;
}